.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# Mac stuff
/**/.DS_Store

# Resources copied via yarn/Gradle
/src/main/resources/WEB

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Generated Keys/Certificates ##
*.jks
*.crt
*.key
*.pem
