$color_blue: #007bff;
$color_canvas: rgb(45, 59, 69);

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.Login {
    text-align: left;
    padding: 1em;
    margin: 1em;
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 100px;
}

.form {
    padding: 1em;
}

label {
    display: flex;
    font-weight: 600;
}

button {
    justify-content: flex-end;
    align-self: flex-end;
    padding: 1em;
}

.card {
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    margin: 1.25rem;
    max-width: 225px;
    min-width: 200px;
    flex: auto;
    flex-basis: 0;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 0;
}

.canvas-card:hover {
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.08);
    cursor: pointer;
}

.canvas-card-header {
    border-bottom: 0;
    height: 150px;
}

.aset-card {
    max-width: 250px;
    min-width: 250px;
}

.aset-card-footer {
    border-top: 0;
    padding-top: 0;
    background: none;
}

.dashboard-sidebar {
    background-color: #f7f7f7;
    height: 100vh;
    padding: 1rem;    
}

.dashboard-sidebar-desktop {
    flex: auto;
    flex-basis: 40%;
}

.dashboard-sidebar-mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(90% - 84px);

    // Box shadow makes the sidebar 'pop' out a bit more (support for all browsers/devices)
    -webkit-box-shadow: -28px 0px 52px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: -28px 0px 52px -18px rgba(0,0,0,0.75);
    box-shadow: -28px 0px 52px -18px rgba(0,0,0,0.75);
}

.NavigationBar {
    height: 100vh;
    width: 84px;
    background-color: white;
}

.course-role-heading {
    margin-left: 1.25rem;
}
  
.main-body {
    max-height: 100vh !important;
    padding: 0px;
    overflow-y: hidden;
}

.main-body-breadcrumbs {
    background-color: white;
}

.main-body-display {
    max-height: 90vh;
    overflow-y: auto;
}

.ErrorComponent {
    pointer-events: all;
    display: inline-block;
}

.ErrorComponentWrapper {
    pointer-events: none;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.NavigationBarLogo {
    width: 84px;
    display: block;
}

.NavigationBarLogo > img {
    width: 100%;
}

.navigation-bar-item-link, .navigation-bar-item-link:hover {
    text-decoration: none !important;
    color: black
}

.navigation-bar-item-link-active  {
    color: white !important;
}

.navigation-bar-item-link-active > li {
    background-color: $color_blue !important;
}

.navigation-bar-item-text {
    font-size: 0.80rem;
}

.watermark-icon {
    color: rgba(255,255,255,0.12);
}