$color_blue: #007bff;
$color_yellow: #ffc107;
$color_red: #dc3545;
$color_green: #28a745;

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* HTML components
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

label {
    font-weight: 600;
}

button {
    align-self: flex-end;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* General utility classes
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.no-decoration {
    text-decoration: none !important;
}

.no-decoration:hover {
    text-decoration: none !important;
}

.bg-light {
    background-color: #f7f7f7 !important;
}

.cursor-pointer:hover {
    cursor: pointer !important;
}

.cursor-move:hover {
    cursor: move !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Extended/overwritten reactstrap classes
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.card-title {
    font-size: 1.2em;
    margin-bottom: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Login wrappers and properties
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.LoginWrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.ExternalLoginToggle {
    position: fixed;
    right: 0;
    bottom: 0;
}

.LoginBackground {
    z-index: -500;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.Login {
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    flex: none;
    flex-basis: inherit !important;
    overflow-x: hidden;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Navigation Bar
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.NavigationBar {
    height: 100vh;
    width: 84px;
}

.NavigationBarSm {
    position: absolute;
    width: 84px;
    border-top: none !important;
    top: 56px;
    left: 0;
}

.NavigationBarSmOpen {
    position: fixed;
    left: 0;
    top: 0;
}

.NavigationBarLogo {
    width: 84px;
    display: block;
}

.NavigationBarLogo > img {
    width: 100%;
}

.navigation-bar-item-link, .navigation-bar-item-link:hover {
    text-decoration: none !important;
    color: black
}

.navigation-bar-item-link-active  {
    color: white !important;
}

.navigation-bar-item-link-active > li {
    background-color: $color_blue !important;
}

.navigation-bar-item-text {
    font-size: 0.80rem;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Content wrappers and bodies
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ContentWrapper {
    height: 100vh;
}

.ContentMainSm {
    flex: 1;
    overflow-y: auto;
}

.ContentMain {
    flex: 1;
    overflow-y: auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Sidebar properties
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.Sidebar {
    width: 30%;
    min-width: 500px;
    overflow-y: auto;
}

.SidebarSm {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.SidebarSmOpen {
    position: fixed;
    top: 0;
    right: 0;
}

.SidebarContentSm {
    flex: 1;
    overflow-y: auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Canvas card properties
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.canvas-card{
    min-width: 260px;
    max-width: 260px;
}

.canvas-card:hover {
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.08) !important;
    cursor: pointer;
}

.canvas-card-header {
    border-bottom: 0;
    height: 150px;
}

.watermark-icon {
    color: rgba(255,255,255,0.12);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Assignment set card properties
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.aset-card {
    min-width: 225px;
    max-width: 225px;
}

.aset-card-create {
    @extend .aset-card;
    height: 225px;
}

.aset-card-footer {
    border-top: 0;
    padding-top: 0;
    background: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Notification/error system wrappers and properties
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ErrorComponent {
    pointer-events: all;
    display: inline-block;
}

.ErrorComponentWrapper {
    pointer-events: none;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Signo-ff table properties
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.sign-off-table {
    table-layout: fixed;
}

.sign-off-table-heading {
    background-color: #f7f7f7;
    font-weight: bold;
}

.sign-off-table-entry-enabled {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    float: left; 
    text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Autosuggest properties
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 600px;
    height: 60px;
    margin: 16px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 32px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 75px;
    left: 16px;
    width: 600px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Comment thread addons/properties
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.thread-border-participant {
    border-left: 7px solid $color_blue;
}

.thread-border-group {
    border-left: 7px solid $color_red;
}

.thread-border-assignment {
    border-left: 7px solid $color_green;
}

.thread-border-signoff {
    border-left: 7px solid $color_yellow;
}
