$color_blue: #007bff;
$color_yellow: #ffc107;
$color_red: #dc3545;
$color_green: #28a745;
$color_canvas: rgb(45, 59, 69);

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.login-wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.ExternalLoginToggle {
    position: fixed;
    right: 0;
    bottom: 0;
}

.LoginBackground {
    z-index: -500;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.no-decoration {
    text-decoration: none !important;
}

.no-decoration:hover {
    text-decoration: none !important;
}

.Login {
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    flex: none;
    flex-basis: inherit !important;
    overflow-x: hidden;
}

.form {
    padding: 1em;
}

label {
    display: flex;
    font-weight: 600;
}

button {
    justify-content: flex-end;
    align-self: flex-end;
    padding: 1em;
}

.card {
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    margin: 1.25rem;
    max-width: 225px;
    min-width: 200px;
    flex: auto;
    flex-basis: 0;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 0;
}

.canvas-card:hover {
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.08);
    cursor: pointer;
}

.canvas-card-header {
    border-bottom: 0;
    height: 150px;
}

.aset-card {
    max-width: 250px;
    min-width: 250px;
}

.aset-card-create {
    max-width: 250px;
    min-width: 250px;
    height: 250px;
}

.aset-card-footer {
    border-top: 0;
    padding-top: 0;
    background: none;
}

.dashboard-sidebar {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.dashboard-sidebar-desktop {
    flex: auto;
    flex-basis: 40%;
}

.dashboard-sidebar-mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(90% - 84px);

    // Box shadow makes the sidebar 'pop' out a bit more (support for all browsers/devices)
    -webkit-box-shadow: -28px 0px 52px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: -28px 0px 52px -18px rgba(0,0,0,0.75);
    box-shadow: -28px 0px 52px -18px rgba(0,0,0,0.75);
}

.NavigationBar {
    height: 100vh;
    width: 84px;
}

.bg-light {
    background-color: #f7f7f7 !important;
}

.course-role-heading {
    margin-left: 1.25rem;
}
  
.main-body {
    max-height: 100vh !important;
    padding: 0px;
    overflow-y: hidden;
}

.main-body-breadcrumbs {
    background-color: white;
}

.main-body-display {
    max-height: 90vh;
    overflow-y: auto;
}

.ErrorComponent {
    pointer-events: all;
    display: inline-block;
}

.ErrorComponentWrapper {
    pointer-events: none;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
}

.NavigationBarLogo {
    width: 84px;
    display: block;
}

.NavigationBarLogo > img {
    width: 100%;
}

.navigation-bar-item-link, .navigation-bar-item-link:hover {
    text-decoration: none !important;
    color: black
}

.navigation-bar-item-link-active  {
    color: white !important;
}

.navigation-bar-item-link-active > li {
    background-color: $color_blue !important;
}

.navigation-bar-item-text {
    font-size: 0.80rem;
}

.cursor-pointer:hover {
    cursor: pointer !important;
}

.cursor-move:hover {
    cursor: move !important;
}

.watermark-icon {
    color: rgba(255,255,255,0.12);
}

.sign-off-table {
    table-layout: fixed;
}

.sign-off-table-heading {
    background-color: #f7f7f7;
    font-weight: bold;
}

.sign-off-table-entry-enabled {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    float: left; 
    text-align: center;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 600px;
    height: 60px;
    margin: 16px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 32px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 75px;
    left: 16px;
    width: 600px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.thread-border-participant {
    border-left: 7px solid $color_blue;
}

.thread-border-group {
    border-left: 7px solid $color_red;
}

.thread-border-assignment {
    border-left: 7px solid $color_green;
}

.thread-border-signoff {
    border-left: 7px solid $color_yellow;
}
